=========================
Author: Pascal Odek
Code2040 API : Style Sheet
==========================

html{
	background: #ffffff;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.gen-token{
	/*border-right: px black solid;*/
	padding-left: 5px;
}